services:
  api:
    build: .
    image: ada/biblioteca:latest
    container_name: biblioteca-api
    environment:
      - SERVER_PORT=420
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
